version: 2.1

orbs:
  maven: circleci/maven@0.0.12

jobs:
  test:
    docker:
      - image: circleci/openjdk:8-jdk-node
    steps:
      - checkout
      - restore_cache: 
          key: circleci-demo-java-spring-{{ checksum "pom.xml" }}
      - run: mvn clean verify
      - save_cache:
          paths:
            - ~/.m2
          key: circleci-demo-java-spring-{{ checksum "pom.xml" }}
      - store_test_results:
          path: target/cucumber-reports
      - store_artifacts:
          path: target/generated-report

workflows:
  maven_test:
    jobs:
      - test